* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #6495ed;
    padding: 16px 0;
    color: #fff;
}


nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-weight: bold;
}

nav li a {
    text-decoration: none;
    color: #fff;
}

.conteudo {
    display: flex;
    margin-top: 16px;
}

.conteudo > div {
    margin-left: 16px;
}

.conteudo h2 {
    margin-bottom: 14px;
}


#lista-produto {
    display: flex;
}

#lista-produto li {
    list-style: none;
}

#lista-produto li h3 {
    margin: 10PX 0 ;
}

#lista-produto li button {
    padding: 4PX 0;
    background-color:#119759 ;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 5px;
}

@media screen and (max-width: 767px) {
    .container {
        display: block;
        max-width: 90%;
        text-align: center;
    }

    header {
        text-align: center;
    
    }

    .conteudo {
        display: block;
    }

    .conteudo img {
        align-items: center;
        margin: 16px;
    }
    
    .produtos h2 {
        margin: 8px;
    }

    #lista-produto, button {
        display: block;
        max-width: 90%;
        align-items: center;
        padding: 6px;
    }

    #lista-produto  button {
        margin: 6px 0;
    }

    .menu {
        text-align: center;
} 

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #lista-produto {
        display: grid;
        grid-template-columns: repeat(2, 47%);
        row-gap: 1%;
    }
}